<div class="row">
  <div class="col-md-offset-3 col-md-6">
    <div class="well">
      <div class="page-header">
        <h1>SIGNUP</h1>
      </div>
      <form class="form" #f="ngForm" novalidate (ngSubmit)="signup(f.value, f.valid)">
        <div class="row">
          <div class="col-md-6 form-group">
            <label for="firstName" class="control-label">FIRST NAME</label>
            <input class="form-control" [(ngModel)]="signupForm.name.firstName" id="firstName" name="firstName" #firstName="ngModel" required type="text">
          </div>
          <div class="col-md-6 form-group">
            <label for="firstName" class="control-label">LAST NAME</label>
            <input class="form-control" [(ngModel)]="signupForm.name.lastName" id="lastName" name="lastName" #lastName="ngModel" required type="text">
          </div>
        </div>

        <div class="form-group" [ngClass]="{'has-error':!username.valid && username.touched}">
          <label for="username" class="control-label">USERNAME</label>
          <input class="form-control" type="text" [(ngModel)]="signupForm.username" id="username" name="username" #username="ngModel" required minlength="5">
          <p class="help-block" [hidden]="username.valid || (username.pristine && !f.submitted)">
            Username is required (minimum 5 characters).
          </p>
        </div>

        <div class="form-group" [ngClass]="{'has-error':!password.valid && password.touched }">
          <label for="password" class="control-label">PASSWORD</label>
          <input class="form-control" type="password" [(ngModel)]="signupForm.password" id="password" name="password" #password="ngModel" required minlength="5">
          <p class="help-block" [hidden]="password.valid || (password.pristine && !f.submitted)">
            Password is required (minimum 5 characters).
          </p>
        </div>

        <div class="form-group">
          <button type="button" class="btn btn-default">Cancel</button>
          <button type="submit" class="btn btn-primary" [disabled]="!f.valid">Submit</button>
        </div>

      </form>
      <p><a [routerLink]="['/login']">HAVE AN ACCOUNT? LOG IN NOW!</a></p>
    </div>
  </div>
</div>
