<md-card class="app-login-card">
  <md-card-title>
    LOGIN
  </md-card-title>
  <md-card-content>
    <form #f="ngForm" novalidate>
      <!-- form control here -->
      <div>
        <label>Username</label>
        <md-input type="text" [(ngModel)]="credentials.username" name="username" #username="ngModel" required minlength="5">
        </md-input>
        <small [hidden]="username.valid || (username.pristine && !f.submitted)">
          Username is required (minimum 5 characters).
      </small>
      </div>
      <div>
        <label>Password</label>
        <md-input type="password" [(ngModel)]="credentials.password" name="password" #password="ngModel" required minlength="5">
        </md-input>
        <small [hidden]="password.valid || (password.pristine && !f.submitted)">
          Password is required (minimum 5 characters).
        </small>
      </div>
      <div>
        <md-button type="submit" (click)="login(f.value, f.valid)">
          LOGIN
        </md-button>
      </div>
    </form>
  </md-card-content>
  <md-card-actions>
    <a [routerLink]="['/signup']">NO ACCOUNT! SIGNUP NOW!</a>
  </md-card-actions>
</md-card>
