<form #f="ngForm" novalidate>
  <!-- form control here -->
  <div>
    <label>Username</label>
    <input type="text" [(ngModel)]="credentials.username" name="username" #username="ngModel" required minlength="5">
    <small [hidden]="username.valid || (username.pristine && !f.submitted)">
     Username is required (minimum 5 characters).
   </small>
  </div>

    <div>
    <label>Password</label>
    <input type="password" [(ngModel)]="credentials.password" name="password" #password="ngModel" required minlength="5">
    <small [hidden]="password.valid || (password.pristine && !f.submitted)">
     Password is required (minimum 5 characters).
   </small>
  </div>

  </div>
  <button type="submit" (click)="login(f.value, f.valid)">
   Login
  </button>
  <a [routerLink]="['/signup']">Signup</a>
</form>

