<form [appShowAuthed]="true" id="form" name="form" class="form" [formGroup]="commentForm" (ngSubmit)="saveCommentForm()"
  novalidate>
  <div class="form-group" [class.has-danger]="content.invalid && !content.pristine">
    <textarea class="form-control" name="content" id="content" [formControl]="content" rows="8">
        </textarea>
    <div class="form-control-feedback" *ngIf="content.invalid && !content.pristine">
      <p *ngIf="content.hasError('required')">Comment is required</p>
      <p *ngIf="content.hasError('minlength')">At least 10 chars</p>
    </div>
  </div>
  <div class="form-group">
    <button type="submit" class="btn btn-success btn-lg" [disabled]="commentForm.invalid || commentForm.pending">  {{'save'}}
    </button>
  </div>
</form>
