<div style="text-align:center">
  <form #f="ngForm" id="form" name="form" class="form" (ngSubmit)="signInWithEmailAndPassword()" novalidate>
    <!--<div class="form-group" [class.has-danger]="email.invalid && !email.pristine">-->
    <div>
      <mdl-textfield id="email" name="email" type="email" #email="ngModel" [(ngModel)]="data.email" required></mdl-textfield>
    </div>
    <!--<div class="form-control-feedback" *ngIf="email.invalid && !email.pristine">
                <p *ngIf="email.errors.required">email is required</p>
                <p *ngIf="email.errors.email">email format is invalid </p>
              </div>-->

    <div>
      <mdl-textfield type="password" name="password" id="password" #password="ngModel" [(ngModel)]="data.password" required></mdl-textfield>
    </div>
    <!--<div class="form-control-feedback" *ngIf="password.invalid && !password.pristine">
                <p ng-message="password.errors.required">Password is required</p>
              </div>-->
    <div>
      <button type="submit" mdl-button mdl-button-type="raised" mdl-colored="primary" mdl-ripple [disabled]="f.invalid || f.pending">{{'signin'}}</button>
    </div>
  </form>

  <div>
    Not registered, <a [routerLink]="['', 'signup']">{{'signup'}}</a>
  </div>
</div>
<div style="text-align:center">
  <div>
    <button mdl-button mdl-button-type="raised" mdl-colored mdl-ripple (click)="signInWithGithub()" type="button"><mdl-icon>github</mdl-icon></button>
    <button mdl-button mdl-button-type="raised" mdl-colored mdl-ripple (click)="signInWithGoogle()" type="button">Google</button>
    <button mdl-button mdl-button-type="raised" mdl-colored mdl-ripple (click)="signInWithTwitter()" type="button">Twitter</button>
    <button mdl-button mdl-button-type="raised" mdl-colored mdl-ripple (click)="signInWithFacebook()" type="button">Facebook</button>
  </div>
</div>
