<!-- Fixed navbar -->
<div class="navbar navbar-light navbar-fixed-top navbar-expand-md bg-light">
  <div class="container">

    <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarSupportedContent">
          <span class="navbar-toggler-icon"></span>
      </button>
    <a class="navbar-brand text-uppercase" [routerLink]="['/home']">Angular sample</a>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="nav navbar-nav mr-auto mt-2 mt-lg-0">
        <li class="nav-item" [routerLinkActive]="['active']">
          <a class="nav-link" [routerLink]="['/posts']">{{'posts'|translate}}</a>
        </li>
        <li class="nav-item" [routerLinkActive]="['active']">
          <a class="nav-link" [routerLink]="['/posts', 'new']">{{'new-post'|translate}}</a>
        </li>
        <li class="nav-item" [routerLinkActive]="['active']">
          <a class="nav-link" [routerLink]="['/about']">{{'about'}}</a>
        </li>
        <!-- <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Dropdown <b class="caret"></b></a>
            <ul class="dropdown-menu">
              <li><a href="#">Action</a></li>
              <li><a href="#">Another action</a></li>
              <li><a href="#">Something else here</a></li>
              <li class="divider"></li>
              <li class="dropdown-header">Nav header</li>
              <li><a href="#">Separated link</a></li>
              <li><a href="#">One more separated link</a></li>
            </ul>
          </li> -->
      </ul>
      <ul class="navbar-nav my-2 my-lg-0">
        <li class="nav-item" [appShowAuthed]="false"><a class="btn btn-outline-success" [routerLink]="['/signin']">{{'signin'}}</a></li>
        <li class="nav-item" [appShowAuthed]="false"><a class="nav-link" [routerLink]="['/signup']">{{'signup'}}</a>
        </li>
        <li class="nav-item" [appShowAuthed]="true"><button type="button" class="btn btn-outline-danger" (click)="logout()">{{'logout'}}</button>
        </li>
      </ul>
    </div>
    <!--/.nav-collapse -->
  </div>
</div>
