<div class="card">
  <div class="card-header">
    <h1 class="card-title">{{'edit-post'}} </h1>
    <h6 class="card-subtitle text-muted">created at: {{post.createdAt| date:'short'}} &bull; {{post.createdBy}}</h6>
    <div class="text-muted"><small>all fields marked with star are required.</small></div>
  </div>
  <div class="card-body">
    <app-post-form [post]="post" (onSaved)="onPostUpdated($event)"></app-post-form>
  </div>
  <div class="card-footer">
    back to <a [routerLink]="['','posts']">{{'post-list'}}</a>
  </div>
</div>
