<form #f="ngForm" novalidate>
  <!-- form control here -->
  <div>
    <label>Title</label>
    <input type="text" [(ngModel)]="post.title" name="title" #title="ngModel" required minlength="5">
    <small [hidden]="title.valid || (title.pristine && !f.submitted)">
     Title is required (minimum 5 characters).
   </small>
  </div>

  <div>
    <label>Content</label>
    <textarea rows="5" cols="50" [(ngModel)]="post.content" name="name" #content="ngModel" required minlength="10"></textarea>
    <small [hidden]="content.valid || (content.pristine && !f.sucontentbmitted)">
     Content is required (minimum 10 characters).
   </small>
  </div>
  <!--<div ngModelGroup="address">
    <div>
      <label>Address</label>
      <input type="text" [(ngModel)]="user.address.address1" name="address1">
    </div>
  </div>-->

  <button type="submit" (click)="save(f.value, f.valid)">
   Submit
  </button>
</form>
