<footer>
  <div class="container">
    <!--<div class="row">
      <div class="col-md-12">
        <div class="btn-group btn-group-sm">
          <a class="btn btn-default" ng-class="(language() == 'zh_CN') ? 'btn-primary' : ''" ng-click="setLanguage('zh_CN')">中</a>

          <a class="btn btn-default" ng-class="(language() == 'en') ? 'btn-primary' : ''" ng-click="setLanguage('en')">EN</a>
        </div>
      </div>
    </div>-->
    <div class="row">
      <div class="col-md-12">
        <div class="center-block">&copy;2014 Hantsy, all rights reserved.</div>

        <div>Powered by: v<span app-version></span></div>
      </div>
    </div>
  </div>
</footer>
